* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: #7faafa; 
    color: #444;
    padding: 0 20px;
    text-align: center;
  }
  
  header {
    background-color: #2e40dd;
    color: white;
    padding: 30px 0;
    border-bottom: 4px solid #000000;
  }
  
  header h1 {
    font-size: 2.5em;
  }
  
  header p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  section {
    margin: 50px 0;
  }
  
  section h2 {
    color: #0d10ad;
    margin-bottom: 20px;
  }
    .projet {
    background: white;
    margin: 20px auto;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(150, 100, 255, 0.1);
    width: 85%;
    transition: transform 0.3s;
  }
  
  .projet:hover {
    transform: scale(1.03);
  }
  
  .projet a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1e21c2;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .projet a:hover {
    background-color: #a27efb;
  }
  #btnInfos {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #1e21c2; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #btnInfos:hover {
    background-color: #7b2cbf; 
    transform: scale(1.05);
  }
